[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
name = "lief_index"
url = "https://lief-project.github.io/packages/"
verify_ssl = true

[dev-packages]
nose = "*"
coveralls = "*"
codecov = "*"
requests-mock = "*"

[packages]
pymisp = {editable = true,extras = ["fileobjects", "neo", "openioc", "virustotal", "pdfexport"],path = "."}
pydeep = {editable = true,git = "https://github.com/kbandla/pydeep.git"}
pymispwarninglists = {editable = true,git = "https://github.com/MISP/PyMISPWarningLists.git"}
lief = {version="==0.9.0.dev0", index="lief_index", markers="python_version >= '3.7'"}

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
